<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Music List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}" />
    <style>
        .td1 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .td2 {
            word-wrap: break-word   ;
        }
    </style>
</head>

<body class="container">
<h1>Music List</h1>
<hr/>
<div class="row">
    <div class="col-md-4" id="left">
        <div class="alert alert-warning alert-dismissible fade in" id="monitorAns">
            <h2 th:text="${dbInfo.getDb_name()}" style="margin: 0px"></h2>
            <hr/>
            <p>creator:	<a th:text="${dbInfo.getCreator()}"></a> </p>
            <p>built_time:	<a th:text="${dbInfo.getBuilt_time()}"></a></p>
            <p>triple num:	<a th:text="${dbInfo.getTriple_num()}"></a></p>
            <p>entity num:	<a th:text="${dbInfo.getEntity_num()}"></a></p>
            <p>literal num:	 <a th:text="${dbInfo.getLiteral_num()}"></a></p>
            <p>subject num:	<a th:text="${dbInfo.getSubject_num()}"></a></p>
            <p>predicate num: <a th:text="${dbInfo.getPredicate_num()}"></a></p>
            <p>connection num:	<a th:text="${dbInfo.getConnection_num()}"></a></p>
        </div>
    </div>
    <div class="col-md-8" id="right">
        <form class="form-horizontal" th:action="@{/bySparql}" method="post">
            <div class="form-group">
                <label for="sparql" class="col-sm-1 control-label">Query</label>
                <div class="col-sm-11">
                    <textarea class="form-control" name="sparql" id="sparql" placeholder="Query text" style="height: 300px"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="format" class="col-sm-1 control-label">Format</label>
                <div class="col-sm-2">
                    <select id="format" class="form-control" name="format">
                        <option value="1" selected="true">HTML</option>
                        <option value="2">Text</option>
                        <option value="3">Json</option>
                    </select>
                </div>
                <div class="col-sm-9" style="padding: 6px 12px">
                    <input type="submit" value="Submit" class="btn btn-info"/>
                    &nbsp; &nbsp; &nbsp;
                    <input type="reset" value="Reset" class="btn btn-info"/>
                </div>
            </div>
        </form>
    </div>
</div>
<hr/>
<div class="with:80%">
    <table id="musicList" class="table table-hover table-striped" style="table-layout:fixed">
        <thead>
        <tr>
            <th width="2%">#</th>
            <th width="25%">subject</th>
            <th width="25%">predicate</th>
            <th width="48%">object</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="music : ${musics}">
            <th scope="row" th:text="${music.id}">0</th>
            <td th:text="${music.subject.value}" class="td1" onmouseover="this.className='td2'" onmouseout="this.className='td1'">Flian</td>
            <td th:text="${music.predicate.value}" class="td1" onmouseover="this.className='td2'" onmouseout="this.className='td1'">Listen</td>
            <td th:text="${music.object.value}" class="td1" onmouseover="this.className='td2'" onmouseout="this.className='td1'">Music</td>
        </tr>
        </tbody>
    </table>

    <div class="modal-footer no-margin-top">
        <ul class="pagination pull-right no-margin">
            <li th:if="${!musics.isEmpty()}">
                <a th:href="'/list?pageNum=1'">First</a>
            </li>

            <li class="prev" th:if="${!musics.isEmpty()}">
                <a th:href="'/list?pageNum=' + (${pageNum}-1)">
                    <i class="ace-icon fa fa-angle-double-left"></i>
                </a>
            </li>
            <li th:each="nav:${navigatePageNum}">
                <a th:href="'/list?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageNum && nav!=0}"></a>
                <span style="font-weight: bold;background: #6FAED9;" th:if="${nav == pageNum && nav!=0}" th:text="${nav}" ></span>
            </li>

            <li class="next" th:if="${!musics.isEmpty()}">
                <a th:href="'/list?pageNum=' + (${pageNum}+1)">
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </a>
            </li>

            <li>
                <a th:href="'/list?pageNum=' + ${totalPages}">Last</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>